export KUBECONFIG="$PWD/kubeconfig"
export KUBERNETES_VERSION="v1.33.4"

# Nombre de clusters downstream (hors manager)
export CLUSTER_COUNT=2

export CLUSTER_PREFIX="talos-argocd"
export SHARED_NETWORK_NAME="talos-shared"
export SHARED_NETWORK_SUBNET_PREFIX="172.30.0"
export LOCAL_NETWORK_SUBNET_PREFIX="10.5"

# Subnets de base
export SHARED_NETWORK_SUBNET="${SHARED_NETWORK_SUBNET_PREFIX}.0/16"

# IPs de base
export IP_BASE=101
export IP_STEP=10
